@font-face {
    font-family: 'Comic Sans MS GC7';
    font-style: normal;
    font-weight: 400;
    src: local('Comic Sans MS'), local('ComicSansMS-Regular'),
        url(/public/assets/css/themes/default/assets/fonts/comic-sans-ms_53a8778a817839ef2dbc5dc94ce14334.woff) format('woff'),
        url(/public/assets/css/themes/default/assets/fonts/comic-sans-ms_53a8778a817839ef2dbc5dc94ce14334.ttf) format('truetype');
}

body {
    background-color: beige;
}

body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS GC7', sans-serif;
    /* font-family: 'Arial', sans-serif; */
    font-size: 1.2rem;
    /* background-color: #f00; */
}

hr {
    margin: 5px 0;
    padding: 0;
}

main, #footer {
    /* border: 1px solid red; */
    /* margin: 10px auto; */
    width: 97%;
    margin: 0 auto;
}

.ui.menu {
    border-radius: 0;
}

footer {
    font-family: 'Arial', sans-serif;
    color: maroon;
    margin: 0;
    margin: 0 1%;
}

@media only screen and (max-width: 700px) {

    table {
        border: 2px solid rgb(255, 206, 206) !important;
        width: 95% !important;
        margin: 0 auto !important;
        border-radius: 7px;
    }
}

.userBlock {
    display: flex;
}

.userBlock img {
    margin: 5px;
    margin-right: 10px;
}

.gc7spaced td {
    /* border: 3px solid blue !important; */
    /* margin: 200px !important; */
    /* padding: 20px 0; */
    padding: 20px 5px;
    /* color:red !important; */
}

.qrbtn {
    color: maroon;
    padding: 3px 7px;
    box-shadow: -5px 5px 10px grey;
    cursor: pointer;
}

.gc7friendimg {
    border: 2px solid black !important;
    box-shadow: -5px 5px 10px grey;
    width: 100%;
    height: 100%
}

.modal .header {
    color: red !important;
}

.ui.dimmer {
    width: 90%;
    margin: 0 auto;
}

.ui.modal>.content {
    width: 95%;
}

.withoutborder {
    text-align: center;
    border: none !important;
    box-shadow: none;
    margin: 0 auto;
}

.ui.cards>.card {
    width: 95%;
}

.ui.cards {
    display: block!important;
    margin-top: 0;
}
